<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <td width="20%">id</td>
    <td width="20%">Nom</td>
    <td width="20%">Année de naissance</td>
    <td width="20%">films</td>
    <td width="20%">actions</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of actors">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.birth_year}}</td>
    <td>
      <div *ngFor="let movie of item.movies;let i=index">
        <button type="button" class="btn btn-primary"
                btnCheckbox
                btnCheckboxTrue="1" btnCheckboxFalse="0">
          {{movie.title}}
        </button>
      </div>
    </td>
    <td>
      <button class="btn btn-danger"
              (click)="deleteActor(item,i)">
        Delete
      </button>
      <button class="btn btn-warning" (click)="editActor(item,i)">
        Edit
      </button>
    </td>
  </tr>
  </tbody>
</table>
